{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "ignore": [
    "node_modules",
    ".idea/",
    "build",
    ".userconfig",
    ".cache",
    "coverage"
  ]
}
