{
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "no-underscore-dangle": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "func-names": 0,
    "import/no-cycle": 0
  }
}
