{
  "env": {
    "node": true,
    "browser": false,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:jest/recommended",
    "plugin:jest-formatting/recommended",
//    "plugin:sonarjs/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "no-underscore-dangle": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "func-names": 0,
    "import/no-cycle": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "no-process-exit": 0,
    "node/no-unpublished-import": 0,
    "jest/no-try-expect": 0
  }
}
